.driver_online {
    background: #009900;
    color: white;
}
.driver_offline {
    background: #ea4560;
    color: white;
}
.driver_counter {
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 0rem;
    text-align: right;
}